/*
    Template borrowed from Michael Bernstein
    http://people.csail.mit.edu/msbernst/msbernst.css
*/

body {
    margin: 0px;
    /* background-color: #D4DFDF; light blue: #becdd6, blue: #6F9CCE, cyan: #E0FFFF*/
    background: rgb(45,60,73); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(192,192,192,1) 0px, rgba(192,192,192,0.5) 800px); /* FF3.6+ */
    background: -webkit-gradient(linear, top, bottom, color-stop(0px,rgba(192,192,192,1)), color-stop(800px,rgba(192,192,192,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(192,192,192,1) 0px,rgba(192,192,192,0.5) 800px); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(192,192,192,1) 0px,rgba(192,192,192,0.5) 800px); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(192,192,192,1) 0px,rgba(192,192,192,0.5) 800px); /* IE10+ */
    background: linear-gradient(top, rgba(192,192,192,1) 0px,rgba(192,192,192,0.5) 800px); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3c49', endColorstr='#356aa0',GradientType=0 ); /* IE6-9 */
    background-color: rgba(53, 106, 160, 1);
    /*background-repeat: no-repeat;*/
    font-family: "Times New Roman",arial,sans-serif;
    font-size: 14pt;
    font-weight: normal;
    text-align : center;
    color: #333;
    background-size: cover;
    overflow-x: auto;
    overflow-y: scroll; /* so the div doesn't move around depending 
                   on whether it's tall enough to have a scrollbar */
}

a {
    text-decoration: none;
    color: #385792;
    font-family: 'Times New Roman';
}

a:hover {
    color: #6F9CCE;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul {
    margin-left: -25px;
    margin-right: 50px;
    margin-top: 5px;
}

.container {
    width: 960px;
    margin: 30px auto;   /* used to center the div (known hack for IE) */
    text-align: left;
    border-style: solid;
    border-width: 2px;
    border-color: #333;
    background: #FFF;
    padding: 0px 30px 30px 30px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    box-shadow: 10px 10px 30px #333333;
    -webkit-box-shadow: 10px 10px 30px #333333;
    -moz-box-shadow: 10px 10px 30px #333333;
}

.titletext {
    color: #111;
    font-size: 21pt;
    font-weight: normal;
    text-align: left;
    padding: 30px 0px;
    font-family: 'Times New Roman';
}

#sidebar {
    float: left; 
    width: 180px;
    background: #FFF;
    text-align: left;
}

.sidebar-item {
    margin: 8px 0px;
}

.picture-border {
    border: 2px solid #ccc;
    margin-left: 30px;
    float: right;
}

.content {
    margin-left: 180px;
    padding: 0px 0px 0px 20px;
}

.pub-title {
    font-size: 16pt;
}

.paper-container {
    margin-top: 1.0em;
    border-collapse: collapse;
    padding: 0px;
}

.paper-container .author {
    font-size: 95%;
}
